@import "~styles/vars";
.header {
  .menu {
    line-height: 64px;
  }
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  padding: 0;
  background-color: $white;
  margin-bottom: 1px;
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 $space-base;
    cursor: pointer;
    transition: color .3s;
    &:hover {
      color: #1890ff;
    }
  }
  .rightTools {
    font-size: $font-size-lg;
    padding-right: $space-base;
    i {
      cursor: pointer;
    }
    .github {
      color: inherit;
    }
  }
}