@import "~styles/vars";
.contents {
  position: relative;
  margin: $space-base $space-base 0;
  flex: 1;
  .animateWrapper.myEnter {
    transform: translateX(-100px);
    opacity: 0;
  }
  .animateWrapper.myEnterActive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(0);
    opacity: 1;
    transition: all .5s;
  }
  .animateWrapper.myEnterDone {
    transform: translateX(0);
    opacity: 1;
  }
  .animateWrapper.myExit {
    transform: translateX(0);
    opacity: 1;
  }
  .animateWrapper.myExitActive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100px);
    opacity: 0;
    transition: all .5s;
  }
  .animateWrapper.myExitDone {
    opacity: 0;
    transform: translateX(100px);
  }
}