@import "~styles/vars";
.login {
  background-color: #f8f8f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .loginForm {
    padding: 36px;
    width: 320px;
    height: 320px;
    margin-top: -10vh;
    box-shadow: 0 0 100px rgba(0, 0, 0, .08);
  }
  .logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $space-24;
  }
  .logo {
    width: 40px;
    height: auto;
  }
  .logoText {
    margin-left: $space-base;
    text-transform: uppercase;
    font-weight: 700;
    color: #1890ff;
    background-image: -webkit-gradient(linear, 37.219838% 34.532506%, 36.425669% 93.178216%, from(#29cdff), to(#0a60ff), color-stop(.37, #148eff));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .signIn {
    width: 100%;
  }
  .account {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-sm;
    margin-top: -$space-sm;
    color: $normal-gray;
  }
}