@import "~styles/vars";
.admin {
  height: 100vh;
  width: 100%;
  .sider {}
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
  }
  .contentWrapper {
    overflow: hidden;
  }
  .container {
    min-height: 280px;
    overflow-y: scroll;
  }
  .contents {
    margin: 24px 24px 0;
    flex-shrink: 0;
  }
}