@import "~styles/vars";
@import "~styles/mixins";
.admin {
  height: 100vh;
  width: 100%;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    line-height: 64px;
    background: $deep-green;
    border-radius: $border-radius-base;
    svg {
      height: 32px;
      width: auto;
      animation: circleRotate 3s linear infinite;
      transition: all .3s;
    }
    h2 {
      font-size: 20px;
      font-weight: 600;
      color: $white;
      margin-left: $space-sm;
      transition: all .3s;
      flex-shrink: 1;
      @include ell;
    }
  }
  .contentWrapper {
    overflow: hidden;
  }
  .container {
    min-height: 280px;
    overflow-y: scroll;
  }
  @keyframes circleRotate {
    0% {
      transform: rotate(0)
    }
    100% {
      transform: rotate(360deg)
    }
  }
}