.admin {
  height: 100vh;
  width: 100%;
  .sider {
    background-color: #fff;
  }
  .crumbsWrapper {
    padding: 0 24px;
  }
  .container {
    background: #fff;
    min-height: 280px;
    overflow-y: scroll;
  }
}