@import '~styles/var.less';

@gray: #5f5f5f;
.side-menu-component {
  height: 100%;
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  .trigger:hover {
    color: #1890ff;
  }
  .logo {
    min-height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
  }
  // 侧边栏激活背景色
  //.dark {
  //  .ant-menu-item-selected {background-color: @gray !important;}
  //}
  .ant-menu-item-selected {background-color: @gray !important;}
  // 左侧边栏字体大小
  .ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
    font-size: @font-size-sm;
  }
  .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    font-size: @font-size-sm;
  }
}