@import "./var";

.page {
  // 内容部分
  position: relative;
  margin: @space-lg @space-base;
  padding: @space-base;
  opacity: 1;
  background: @body-background;
  min-height: 280px;
  overflow: hidden;
  > .ant-spin-nested-loading {
    position: static;
    .ant-spin-text {
      letter-spacing: 3px;
      color: @gray;
    }
    .ant-spin-dot i {
      background-color: @gray;
    }
    .ant-spin-blur {
      opacity: 0;
    }
    .ant-spin-spinning {
      background-color: @body-background;
    }
  }
  .page-header {
  }
  .page-content {
  }
  .page-footer {
  }
}