@mixin ell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// 多行文本显示...，默认为2行
@mixin moreEll($line:2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* 行数*/
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}